@import 'src/styles/settings/variables/typography';

.filter-tag {
  align-items: center;
  appearance: none;
  background-color: #EAF6FF;
  border-radius: 4px;
  border: 1px solid #CCDEED;
  color: #131317;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: $veera-font-size-80;
  line-height: $veera-font-size-100;
  padding: 4px 4px 4px 8px;

  &:hover {
    background-color: #CCDEED;
    border-color: #99BDDA;

    .icon {
      color: #004882;
    }
  }

  &:focus {
    background-color: #003662;
    border-color: #003662;
    color: #FFFFFF;

    .icon {
      color: #FFFFFF;
    }
  }
  

  .icon {
    cursor: pointer;
    margin-left: 4px;
    color: #686B78;
  }
}
