@import 'src/styles/settings/variables/typography';

.metadata-item {
  &__value {
    font-size: $veera-font-size-80;
  }
  &__meta {
    font-size: $veera-font-size-70;
    color: #686B78;
  }
}

.divider {
  height: 1px;
  background-color: #686B78;
  width: 100%;
  margin: 16px 0;
}
